<!DOCTYPE html>
<html>

<head>
    <title>
        Sweet Momma Bs
    </title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
    <%- include('partials/header') %>
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-7">
                    <div class="panel panel-default" id="cart-panel">
                        <% if (order.Products)  { %>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (var i in order.Products) { %>
                                        <tr>
                                            <td>
                                                <%=order.Products[i].name%>
                                            </td>
                                            <td>
                                                <%=order.Products[i].OrderProducts.quantity%>
                                            </td>
                                            <td>
                                                $
                                                <%=order.Products[i].price%>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                    </div>
                </div>
                <div class="col-lg-4">
                    <form action="/api/order/checkout?_method=PUT" method="post">
                        <input type="hidden" name="orderid" value=<%=order.id%>>
                        <button type="submit" class="btn btn-primary" id="cart-submit-btn">Submit Order</button>
                    </form>
                    <% } %>
                </div>
            </div>
            <script src="assets/javascript/app.js"></script>
</body>

</html>