<!DOCTYPE html>
<html>

<head>
    <title>
        Sweet Momma Bs
    </title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
    <div class="Logo">
        <%- include('partials/header') %>
            <div class="optionDropdown">
            </div>
            <div class="goodies">
                <h2 id="goodieTitle"></h2>
                <% products = JSON.parse(products) %>
                    <% for (var i in products) { %>
                        <img class="foodpic" src=<%=products[i].photo %>
                        <ul class="product">
                            <li class="product-name">
                                <%=products[i].name %>
                            </li>
                            <li class="product-desc">
                                <%=products[i].description%>
                            </li>
                            <li class="price">$
                                <%=products[i].price%>
                            </li>
                        </ul>
                        <div id="goodieAmount">
                        </div>
                        <div id="quanity">
                        </div>
                        <div id="customizableSection">
                        </div>
                        <div id="customizableDesctiption">
                            <ul>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                        <% if(user) { %>
                            <div class="addToCart">
                                <form action="/api/order/product" method="post">
                                    <input type="hidden" name="productid" value=<%=products[i].id%> />
                                    <input type="hidden" name="userid" value=<%=user.id%> />
                                    <input type="submit" value="Add to Cart" />
                                </form>
                            </div>
                            <% } %>
                                <% } %>
            </div>
            <script src="assets/javascript/app.js"></script>
</body>

</html>
