<!DOCTYPE html>
<html>

<head>
    <title>
        Sweet Momma Bs
    </title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
    <%- include('partials/header') %>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <% products = JSON.parse(products) %>
                        <% for (var i in products) { %>
                            <div class="panel">
                                <div class="panel-body">
                                    <img class="col-md-6" id='goodPhoto' src=<%=products[i].photo %>>
                                    <div class="col-md-6 goodData">
                                        <h4><%=products[i].name %></h4>
                                    </div><br>
                                    <div class="col-md-4 goodData">
                                        <h4><%=products[i].description%></h4>
                                    </div>
                                    <div class="col-md-4 goodData">
                                        <h4>$<%=products[i].price%></h4>
                                    </div>
                                    <% if(user) { %>
                                        <div class="addToCart col-md-6">
                                            <form action="/api/order/product" method="post">
                                                <input type="hidden" name="productid" value=<%=products[i].id%>>
                                                <input type="hidden" name="userid" value=<%=user.id%>>
                                                <input name="quantity" placeholder="1" id='quantity' value="1">
                                                <input type="submit" id='goodSubmit' value="Sounds Good!">
                                            </form>
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                            <% } %>
                </div>
            </div>
        </div>
        <script src="assets/javascript/app.js"></script>
</body>

</html>